body {
  margin: 0;
  background: #fff;
  font-size: 15px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fixed-btn {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #ddd;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.ro-custom.ant-btn-text:hover {
  background: rgba(0, 0, 0, 0.1);
}
.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
  padding: 0px;
}
.ant-card-head {
  /* border: none; */
}
:where(.css-dev-only-do-not-override-12jzuas)[class^='ant-layout'],
:where(.css-dev-only-do-not-override-12jzuas)[class*=' ant-layout'] {
  font-family: Roboto !important;
  font-size: 15px;
  color: #1b1d29;
}
